.empty_dice {
    position: absolute;
    top: 305px;
    left: 310px;

    font-size: 24px;
    font-weight: bold;
    color: #00D90E;
}

/*Так как цвет и шрифт у bonus_win и total_bonus_win одинаковый, можно было задать их через 1 класс. Но так как
присуствует ограничение по времени и я не уверен, что успею, то пойду по самому простому пути и разнесу их на 2 класса.
Так же можно сделать position на все div-ы, но вдруг игра будет дорабатываться? Тогда это может помешать.
Отдельно стоит отметить, что шрифт использован судя по всему другой(сужу по толщине), в реальной работе я бы уточник
какой именно. Аналогично для всех размеров, точных позиций и прочего*/

.bonus_win {
    position: absolute;
    top: 344px;
    left: 470px;

    font-size: 25px;
    color: #F0EF00;
    font-weight: bold;
}

.total_bonus_win {
    position: absolute;
    top: 393px;
    left: 470px;

    font-size: 25px;
    color: #F0EF00;
    font-weight: bold;

}

.start_button {
    position: absolute;
    top: 275px;
    left: 830px;

    border-radius: 10px;
    border: 3px solid white;
    padding: 55px 10px 55px 10px;

    color: white;
    font-size: 20px;
    font-weight: bold;

    background: linear-gradient(to right bottom, #2CAA65, black);

}

.start_button:active {
    background: radial-gradient(#2CAA65, black);
    /*Collect ?*/
}